<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<verifConfig chv1Disabled="true" hexRecordNumber="false" hexSfi="true" useAdm2="true" useAdm3="false" useAdm4="false" useVariablesTxt="true">
    <codeAdm1>933F57845F706921</codeAdm1>
    <codeAdm2>933F57845F706921</codeAdm2>
    <codeAdm3>933F57845F706921</codeAdm3>
    <codeAdm4>933F57845F706921</codeAdm4>
    <codeChv1>31323334FFFFFFFF</codeChv1>
    <codeChv2>35363738FFFFFFFF</codeChv2>
    <pathToCsv>/home/msembodo/tmp/2204.csv</pathToCsv>
    <pathToVariablesTxt>/home/msembodo/Documents/variables.txt</pathToVariablesTxt>
    <readerNumber>-1</readerNumber>
    <verifLiterals>
        <sAccADM1>ADM1</sAccADM1>
        <sAccADM2>ADM2</sAccADM2>
        <sAccADM3>ADM3</sAccADM3>
        <sAccADM4>ADM4</sAccADM4>
        <sAccADM5>ADM5</sAccADM5>
        <sAccADM6>ADM6</sAccADM6>
        <sAccADM7>ADM7</sAccADM7>
        <sAccADM8>ADM8</sAccADM8>
        <sAccALW>Always;ALW</sAccALW>
        <sAccAND>AND</sAccAND>
        <sAccCHV1>CHV1;GPIN1;APIN1</sAccCHV1>
        <sAccCHV2>CHV2;LPIN1;2APIN1</sAccCHV2>
        <sAccNEV>Never;NEV</sAccNEV>
        <sAccOR>OR</sAccOR>
        <sFileStructCY>Cyclic;CY;C</sFileStructCY>
        <sFileStructLF>Linear;LF;L</sFileStructLF>
        <sFileStructLK>Link;LK</sFileStructLK>
        <sFileStructTR>Transparent;TR;T</sFileStructTR>
    </verifLiterals>
</verifConfig>
